{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'CV/styles.css' %}" src="CV/styles.css" rel="stylesheet">
    <script src="{% static 'CV/index.js' %}"></script>  
    
    <title>MVCV</title>
</head>
<body>

<div id="fullbody"  >
    
    

    <div id="presentation" style="width: 100%; height: 100vh;  background-size: 100% 100vh; background-image: url('https://images.pexels.com/photos/991422/pexels-photo-991422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        
         <!--      -------                          HOME SECTION                 -----------                -->

        <div id="squares" style="z-index:0; height: 100vh; display: block; ">

            <div id="leftv" style="z-index: 1; display:inline-block; ">

                <div class="namesurname" id="namesurname" style="z-index: 1;" >MICHELANGELO VENUSIO</div>
                <div id="profession" style="z-index: 1;" >Web Developer</div>
                <div id="menu" style="z-index: 1;">
                    <div class="menuelement" id="menuelement1" onclick="setTimeout(myFunction2, 2500)" style="z-index: 1; cursor: pointer;">Skills</div>
                    <div class="menuelement" id="menuelement2" onclick="setTimeout(myFunction, 2500)" style="z-index: 1; cursor: pointer;">Projects</div>
                    <div  class="menuelement" id="menuelement3" onclick="setTimeout(myFunction3, 2500)" style="z-index: 1; cursor: pointer;">Background</div>
                </div>

            </div>
             
            <div id="mycv">
                <div id="cvarrow">Download Here! -></div>
                <div id="cvtriangle"></div>
                <a href="{{mycv.mycv.url}}" download><div id="cvword">CV</div></a>
            </div>
        
            <div id="square1" style=" z-index:0; display:inline-block;"></div>
            <div id="square2" style=" z-index:0; display:inline-block;"></div>
            <div id="square3" style=" z-index:0; display:inline-block;"></div>
            <div id="square4" style=" z-index:0; display:inline-block;"></div>
            <div id="square5" style=" z-index:0; display:inline-block;"></div>
            <div id="square6" style=" z-index:0; display:inline-block;"></div>
            <div id="square7" style=" z-index:0; display:inline-block;"></div>
            <div id="square8" style=" z-index:0; display:inline-block;"></div>
            <div id="square12" style=" z-index:0; display:inline-block;"></div>
            <div id="square22" style=" z-index:0; display:inline-block;"></div>
            <div id="square32" style=" z-index:0; display:inline-block;"></div>
            <div id="square42" style=" z-index:0; display:inline-block;"></div>
            <div id="square52" style=" z-index:0; display:inline-block;"></div>
            <div id="square62" style=" z-index:0; display:inline-block;"></div>
            <div id="square72" style=" z-index:0; display:inline-block;"></div>
            <div id="square82" style=" z-index:0; display:inline-block;"></div>
            <div id="square13" style=" z-index:0; display:inline-block;"></div>
            <div id="square23" style=" z-index:0; display:inline-block;"></div>
            <div id="square33" style=" z-index:0; display:inline-block;"></div>
            <div id="square43" style=" z-index:0; display:inline-block;"></div>
            <div id="square53" style=" z-index:0; display:inline-block;"></div>
            <div id="square63" style=" z-index:0; display:inline-block;"></div>
            <div id="square73" style=" z-index:0; display:inline-block;"></div>
            <div id="square83" style=" z-index:0; display:inline-block;"></div>
            <div id="square14" style=" z-index:0; display:inline-block;"></div>
            <div id="square24" style=" z-index:0; display:inline-block;"></div>
            <div id="square34" style=" z-index:0; display:inline-block;"></div>
            <div id="square44" style=" z-index:0; display:inline-block;"></div>
            <div id="square54" style=" z-index:0; display:inline-block;"></div>
            <div id="square64" style=" z-index:0; display:inline-block;"></div>
            <div id="square74" style=" z-index:0; display:inline-block;"></div>
            <div id="square84" style=" z-index:0; display:inline-block;"></div>

    
            <div class="chevron" id="chevron" style="z-index: 2;"></div>


        </div>

        <!--      -------                          PROJECTS                 -----------                -->

        <div id="squares3" style="z-index:0; height: 100vh; width:100%; display:none; box-sizing:border-box; margin:0; padding:0; font: size 10px;">
             
            <div id="projectsall">

                <div id="projtitle" style="align-items: center; justify-content:center; width:100%; height: 15vh; display:flex; flex-direction:row; ">
                    <div id="ptitle" style=" width:400px; height: 15vh; "> Some of My Projects </div>
                </div>
                <div id="projupper" style=" width:100%; height: 42vh; display:flex; flex-direction:row; ">
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                    <div id="projectfist" style="width: 25vw; height:42vh;  ">
                        <p class="projtitle">Planet Crypton</p>
                        <div class="proj"></div>
                    </div>
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                    <div id="projectsecond" style="width: 25vw; height:42vh; ">
                        <p class="projtitle">Chatter ( Twitter Mock Up)</p>
                        <div class="proj"></div>
                    </div>
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                </div>

                <div id="projlower" style=" width:100%; height: 42vh; display:flex; flex-direction:row; ">
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                    <div id="projectthird" style="width: 25vw; height:42vh; ">
                        <p class="projtitle">V Mail ( Mailbox )</p>
                        <div class="proj"></div>
                    </div>
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                    <div id="projectfourth" style="width: 25vw; height:42vh; ">
                        <p class="projtitle">Best Bid House</p>
                        <div class="proj"></div>
                    </div>
                    <div  style="width: 16vw; height:42vh; background-color: transparent"></div>
                </div>

            </div>

            <div id="goback2"  onclick="setTimeout(BackHome2, 2000)"></div>

            

        </div>

        <!--      -------                          BACKGROUND                 -----------                -->
         
        <div id="squares2" style="z-index:0; width:100%; height: 100%; display:none;">
             
           
            <div id="background">
              <div id="workexperience">
                  <div id="myworkexp">
                      <div id="mywrk">- My Work Experience in Tech -</div>
                      <div id="worktitle"></div>
                      <div id="role">>> Junior Web Developer</div>
                      <div id="companyanddate">MJD Renewable Energy Installations | 2019 to present</div>
                      <div id="summaryofwork">Responsible for the creation and deployment of interfaces for users to monitor 
                          performances and production of the Solar Power Plants installed by the company. <br>
                          <br>
                          >Traning period to acquire skillset during first semester <br>
                          > Creating physical and prototype designs and functions for user interface. <br>
                          > Working with APIs requests   <br>
                          > Creating and working with MySQL Databases   <br>
                          > Extensive Django framework Use</div>
                  </div>
              </div>
              <div id="education">
                  <div id="myeducation">
                      <div id="myedu">- My Education -</div>
                      <br>
                      <br>
                      <div id="titleofcourse">>> CS50W: CS50's Web Programming with Python and JavaScript</div>
                      <div id="university">Harvard University,  Harvardx Branch | 2020-2021</div>
                      <div id="summaryofcourse">A course based entirely on web programming,
                           where Django is the main platform of use. <br>A hands-on, 
                           project focused course that explores not only Python 
                           and JavaScript fundamentals, but also advanced functionalities 
                           of Django, Database SQL language and management, 
                           Web Security and Scalability , UnitTesting and CI/CD.</div>
                      <br>
                      <br>
                      <div id="titleofcourse2">>> BA International Business with French (Major in Economics)</div>
                      <div id="university2">Regents University, London UK  | 2012-2016</div>
                      <div id="summaryofcourse2">This degree develops aptitude for business with 
                          courses in economics, organizational behavior, 
                          project management, corporate finance and negotiation, 
                          and allowes to develop organisational skills, work 
                          ethic and procedural structure that is applicable to all tasks 
                          and fields</div>
                  </div>
              </div>  
            </div>

            <div id="goback3"  onclick="setTimeout(BackHome3, 2000)"></div>

        </div>

        <!--      -------                          SKILLS                 -----------                -->

        <div id="squares4" style="z-index:0; height: 100hv; width: 100%; display:none; ">

            
            <div class="bodyofcards" id="bodyofcards1" style="margin-top:50px; margin-left:50px; margin-right:50px; z-index:0; height:400px; width: 100%; display:flex; flex-direction:row; ">
                
                
                <div class="card">
                    <div class="card__inner" id="cardinner1">
                        <div class="card__face card__face--front">
                            <img style="margin-top:0px; height:200px; width:200px;" src="{{javascript.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>Javascript</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2019</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__inner" id="cardinner2">
                        <div class="card__face card__face--front">
                            <img style="margin-top:0px; height:180px; width:200px;" src="{{python.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>Python</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2019</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__inner" id="cardinner3">
                        <div class="card__face card__face--front">
                            <img style="margin-top:0px; height:190px; width:190px;" src="{{css.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>CSS</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2019</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div  id="goback1"  onclick="setTimeout(BackHome1, 2000)"></div>

            <div class="bodyofcards" id="bodyofcards2" style="margin-top:0px; margin-left:50px; margin-right:50px; z-index:0; height:400px; width: 100%; display:flex; flex-direction:row; ">

                <div class="card">
                    <div class="card__inner" id="cardinner4">
                        <div class="card__face card__face--front">
                            <img style="margin-top:0px; height:200px; width:300px;" src="{{django.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>Django</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2019</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__inner" id="cardinner5">
                        <div class="card__face card__face--front">
                            <img style="margin-top:50px; height:250px; width:250px;"  src="{{mysql.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>MySQL</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2020</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__inner" id="cardinner6">
                        <div class="card__face card__face--front">
                            <img style="margin-top:0px; height:200px; width:200px;"  src="{{aws.pic.url}}" alt="">
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h2>AWS</h2>
                                </div>
                                <div class="card__body">
                                    <h3>Since 2020</h3>
                                    <p> Thing things Things</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            

        </div>

    </div>

    

</div>

<!--      -------                          SCRIPTS                 -----------                -->

<script>




    var menuel1 = document.getElementById('menuelement1');
    var menuel2 = document.getElementById('menuelement2');
    var menuel3 = document.getElementById('menuelement3');

    var arrow = document.getElementById('chevron');


    var wrapper1 = document.getElementById("namesurname");
    var wrapper2 = document.getElementById("profession");
    var wrapper3 = document.getElementById("menuelement1");
    var wrapper4 = document.getElementById("menuelement2");
    var wrapper5 = document.getElementById("menuelement3");

    var squares = document.getElementById("squares");
    var squares2 = document.getElementById("squares2");
    var squares3 = document.getElementById("squares3");
    var squares4 = document.getElementById("squares4");

    var goback1 = document.getElementById("goback1");
    var goback2 = document.getElementById("goback2");
    var goback3 = document.getElementById("goback3");

    var projectsall = document.getElementById("projectsall");
    var background = document.getElementById("background");


    menuel1.addEventListener( 'click' , () => {
        arrow.classList.toggle('animate');
        wrapper1.classList.toggle('fade');
        wrapper2.classList.toggle('fade');
        wrapper3.classList.toggle('fade');
        wrapper4.classList.toggle('fade');
        wrapper5.classList.toggle('fade');
    })

    menuel2.addEventListener( 'click' , () => {
        arrow.classList.toggle('animate')
        wrapper1.classList.toggle('fade');
        wrapper2.classList.toggle('fade');
        wrapper3.classList.toggle('fade');
        wrapper4.classList.toggle('fade');
        wrapper5.classList.toggle('fade');
    })

    menuel3.addEventListener( 'click' , () => {
        arrow.classList.toggle('animate')
        wrapper1.classList.toggle('fade');
        wrapper2.classList.toggle('fade');
        wrapper3.classList.toggle('fade');
        wrapper4.classList.toggle('fade');
        wrapper5.classList.toggle('fade');

    })





function myFunction(){
    goback2.classList.remove('fade2');
    projectsall.classList.remove('fade2');
    squares.style.display = "none";
    squares2.style.display = "none";
    squares3.style.display = "block";
    squares4.style.display = "none";
}

function myFunction2(){
    bodyofcards1.classList.remove('fade2');
    bodyofcards2.classList.remove('fade2');
    goback1.classList.remove('fade2');
    squares.style.display = "none";
    squares2.style.display = "none";
    squares3.style.display = "none";
    squares4.style.display = "block";
}

function myFunction3(){
    goback3.classList.remove('fade2');
    background.classList.remove('fade2');
    squares.style.display = "none";
    squares2.style.display = "block";
    squares3.style.display = "none";
    squares4.style.display = "none";
}

function BackHome1(){
    
    squares4.style.display = "none";
    arrow.classList.remove('animate');
    wrapper1.classList.remove('fade');
    wrapper2.classList.remove('fade');
    wrapper3.classList.remove('fade');
    wrapper4.classList.remove('fade');
    wrapper5.classList.remove('fade');
    squares.style.display = "block";

}

function BackHome2(){
    
    squares3.style.display = "none";
    arrow.classList.remove('animate');
    wrapper1.classList.remove('fade');
    wrapper2.classList.remove('fade');
    wrapper3.classList.remove('fade');
    wrapper4.classList.remove('fade');
    wrapper5.classList.remove('fade');
    goback2.classList.toggle('fade2');
    squares.style.display = "block";

}

function BackHome3(){
    
    squares2.style.display = "none";
    arrow.classList.remove('animate');
    wrapper1.classList.remove('fade');
    wrapper2.classList.remove('fade');
    wrapper3.classList.remove('fade');
    wrapper4.classList.remove('fade');
    wrapper5.classList.remove('fade');
    goback3.classList.toggle('fade2');
    squares.style.display = "block";

}


// GO BACK //

var bodyofcards1 = document.getElementById("bodyofcards1");
var bodyofcards2 = document.getElementById("bodyofcards2");


goback1.addEventListener('click', () => {
    bodyofcards1.classList.toggle('fade2');
    bodyofcards2.classList.toggle('fade2');
    goback1.classList.toggle('fade2');
});


goback2.addEventListener('click', () => {
    projectsall.classList.toggle('fade2');
    goback2.classList.toggle('fade2');
});

goback3.addEventListener('click', () => {
    background.classList.toggle('fade2');
    goback3.classList.toggle('fade2');
});




// CARDS JS //

const card = document.getElementById('cardinner1');
card.addEventListener('click', function () {
    card.classList.toggle('is-flipped');
});


const card2 = document.getElementById('cardinner2');
card2.addEventListener('click', function () {
    card2.classList.toggle('is-flipped');
});

const card3 = document.getElementById('cardinner3');
card3.addEventListener('click', function () {
    card3.classList.toggle('is-flipped');
});

const card4 = document.getElementById('cardinner4');
card4.addEventListener('click', function () {
    card4.classList.toggle('is-flipped');
});

const card5 = document.getElementById('cardinner5');
card5.addEventListener('click', function () {
    card5.classList.toggle('is-flipped');
});

const card6 = document.getElementById('cardinner6');
card6.addEventListener('click', function () {
    card6.classList.toggle('is-flipped');
});












</script>
</body>
</html>


